---
BasedOnStyle: LLVM
AllowAllConstructorInitializersOnNextLine: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
...
